<div class="giiker-about-us-step-container" style="background-color: {{ section.settings.background_color }};">
  <div class="giiker-about-us-step-content">
    <div class="giiker-about-us-step-list">
      <div class="step-swiper swiper">
        <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="giiker-about-us-our-story-item swiper-slide" data-title="{{ block.settings.step_number | strip_html }}">
            <div class="top-image-tag">
              <div class="giiker-about-us-our-story-item-image">      
                {{ block.settings.image_top | image_url: width: block.settings.image_top.width | image_tag: height: block.settings.image_top.height, fetchpriority: 'high', loading: 'lazy', class: 'image-tag pc-image' }}
                {{ block.settings.image_top_mobile | image_url: width: block.settings.image_top_mobile.width | image_tag: height: block.settings.image_top_mobile.height, fetchpriority: 'high', loading: 'lazy', class: 'image-tag mb-image' }}
              </div>
              <div class="giiker-about-us-our-story-item-content">
                <h3 class="giiker-about-us-our-story-item-content-title">{{ block.settings.title_top }}</h3>
                <h3 class="giiker-about-us-our-story-item-content-next-title">{{ block.settings.next_title_top }}</h3>
                <div class="giiker-about-us-our-story-item-content-detail">{{ block.settings.detail_top }}</div>
              </div>
            </div>
            <div class="bottom-content-tag">
              <img src="https://cdn.shopify.com/s/files/1/0609/5611/5196/files/Vector_35.png?v=1762880883" alt="">
            </div>
            <div class="bottom-image-tag">
              <div class="giiker-about-us-our-story-item-image">
                {{ block.settings.image_bottom | image_url: width: block.settings.image_bottom.width | image_tag: height: block.settings.image_bottom.height, fetchpriority: 'high', loading: 'lazy', class: 'image-tag pc-image' }}
                {{ block.settings.image_bottom_mobile | image_url: width: block.settings.image_bottom_mobile.width | image_tag: height: block.settings.image_bottom_mobile.height, fetchpriority: 'high', loading: 'lazy', class: 'image-tag mb-image' }}
              </div>
              <div class="giiker-about-us-our-story-item-content">
                <h3 class="giiker-about-us-our-story-item-content-title">{{ block.settings.title_bottom }}</h3>
                <div class="giiker-about-us-our-story-item-content-detail">{{ block.settings.detail_bottom }}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

  </div> 
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const swiperContainer = document.querySelector('#shopify-section-{{ section.id }} .step-swiper');
    const slides = swiperContainer.querySelectorAll('.swiper-slide');
    const titles = Array.from(slides).map(slide => {
      const title = slide.getAttribute('data-title');
      return title && title.trim() !== '' ? title : null;
    });
    const stepSwiper = new Swiper('#shopify-section-{{ section.id }} .step-swiper', {
      slidesPerView: 1,
      spaceBetween: 0,
      pagination: {
        el: '#shopify-section-{{ section.id }} .swiper-pagination',
        clickable: true,
        renderBullet: function (index, className) {
          if (titles[index]) {
            return '<span class="' + className + '">' + titles[index] + '</span>';
          }
          return '<span class="' + className + '" style="display: none;"></span>';
        },
      },
    });
  });
</script>
{% schema %}
{
  "name": "Giiker about us step",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Step",
      "settings": [
        {
          "type": "text",
          "id": "step_number",
          "label": "Step Number"
        },
        {
          "type": "image_picker",
          "id": "image_top",
          "label": "Image Top 879*495"
        },
        {
          "type": "image_picker",
          "id": "image_top_mobile",
          "label": "Image Top Mobile 218*122"
        },
        {
          "type": "richtext",
          "id": "title_top",
          "label": "Title Top"
        },
        {
          "type": "richtext",
          "id": "next_title_top",
          "label": "Next Title Top"
        },
        {
          "type": "richtext",
          "id": "detail_top",
          "label": "Detail Top"
        },
        {
          "type": "image_picker",
          "id": "image_bottom",
          "label": "Image Bottom 574*383 带圆角"
        },
        {
          "type": "image_picker",
          "id": "image_bottom_mobile",
          "label": "Image Bottom Mobile 220*147"
        },
        {
          "type": "richtext",
          "id": "title_bottom",
          "label": "Title Bottom"
        },
        {
          "type": "richtext",
          "id": "detail_bottom",
          "label": "Detail Bottom"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Giiker about us step"
    }
  ]
}
{% endschema %}