<section id="#{{ section.id }}">
  <div class="giiker-product-basice">
    <div class="left-content">
        {{
          section.settings.background_left_image
          | image_url: width: section.settings.background_left_image.width
          | image_tag: height: section.settings.background_left_image.height,
           fetchpriority: 'high', loading: 'lazy', class: 'image-left-tag', data-cc-animate: 'fade-in'
        }}
    </div>
    <div class="right-content">
      {{
        section.settings.background_right_image
        | image_url: width: section.settings.background_right_image.width
        | image_tag: height: section.settings.background_right_image.height,
         fetchpriority: 'high', loading: 'lazy', class: 'image-right-tag', data-cc-animate: 'fade-in'
      }}
      <div class="right-content-title">{{ section.settings.title }}</div>
      <div class="right-content-detail">{{ section.settings.detail }}</div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Giiker Product Basice",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_left_image",
      "label": "Background Left Image"
    },
    {
      "type": "image_picker",
      "id": "background_right_image",
      "label": "Background Right Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Learn the basics"
    },
    {
      "type": "text",
      "id": "detail",
      "label": "Detail",
      "default": "A step-by-step tutorial on how our smart product makes learning a breeze."
    }
  ],
  "presets": [
    {
      "name": "Giiker Product Basice"
    }
  ]
}
{% endschema %}