<div class="giiker-home-list-image-container" style="background-color: {{ section.settings.background_color }}">
  <div class="giiker-home-list-image-title">{{ section.settings.title }}</div>
  <div class="giiker-home-list-image-detail">{{ section.settings.detail }}</div>
  <div class="giiker-home-list-image-background">
    {{
      section.settings.background_image
      | image_url: width: section.settings.background_image.width
      | image_tag: fetchpriority: 'high', loading: 'lazy', class: 'image-tag', data-cc-animate: 'fade-in'
    }} 
  </div>
  <div class="giiker-home-list-image">
    {% for block in section.blocks %}
      <div class="giiker-home-list-image-item" data-cc-animate="fade-in">
        <div class="giiker-home-text-image-item-content" >
          <div class="giiker-home-list-image-item-content-icon">
            {{
              block.settings.icon
              | image_url: width: block.settings.icon.width
              | image_tag: fetchpriority: 'high', loading: 'lazy', class: 'image-tag', data-cc-animate: 'fade-in'
            }}
          </div>
          <h2 class="giiker-home-list-image-item-title">{{ block.settings.title }}</h2>
          <div class="giiker-home-list-image-item-detail">{{ block.settings.detail }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Giiker Home List Image",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "detail",
      "label": "Detail"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "rgba(255, 223, 87, 1)"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],
  "blocks": [
    {
      "type": "list",
      "name": "List",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon" 
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "detail",
          "label": "Detail"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Giiker Home List Image"
    }
  ]
}
{% endschema %}