<div class="giiker-home-phone-image-container">
  <div class="giiker-home-phone-image-content" style="background-color: {{ section.settings.background_color }};">
    <div class="giiker-home-phone-image-title">
      {{ section.settings.title }}
    </div>
    <div class="giiker-home-phone-image-background">
      {{ section.settings.background_top_image | image_url: width: section.settings.background_top_image.width | image_tag: fetchpriority: 'high', loading: 'lazy', class: 'image-tag',data-cc-animate: 'fade-in'}}
    </div>
    <div class="giiker-home-phone-image-list" >
      {% for block in section.blocks %}
        <div class="giiker-home-phone-image-list-item">
          <a class="giiker-home-phone-image-list-item-image" href="{{ block.settings.url }}" target="_blank">
            {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: fetchpriority: 'high', loading: 'lazy', class: 'image-tag'}}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Giiker Home Phone Image",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "background_top_image",
      "label": "Background Top Image"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "rgba(240, 103, 79, 1)"
    }
  ],
  "blocks": [
    {
      "type": "phone",
      "name": "Phone Image", 
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Giiker Home Phone Image"
    }
  ]
}
{% endschema %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const phoneList = document.querySelector('.giiker-home-phone-image-list');
    if (phoneList) {
      phoneList.classList.add('fade-phone-list');
    }
  });
</script>