<div class="giiker-product-icon-container" style="">
  <div class="giiker-product-icon-background">
    {{
    section.settings.background_image
    | image_url: width: section.settings.background_image.width
    | image_tag: height: section.settings.background_image.height,
      fetchpriority: 'high', loading: 'lazy', class: 'image-tag-background'
    }}
  </div>
  <div class="giiker-product-icon-list">
    {% for block in section.blocks %}
      <div class="giiker-product-icon-item" data-cc-animate="fade-in">
        <div class="giiker-product-icon-item-content" >
          <div class="giiker-product-icon-item-content-icon">
            <img src="{{ block.settings.icon | image_url: width: block.settings.icon.width }}" 
                 alt=""
                 class="image-tag"
                 data-cc-animate="fade-in"
                 loading="lazy"
                 width="{{ block.settings.icon.width }}"
                 height="{{ block.settings.icon.height }}">
          </div>
          <h2 class="giiker-product-icon-item-title">{{ block.settings.title }}</h2>
          <div class="giiker-product-icon-item-detail">{{ block.settings.detail }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Giiker Product Icon",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],
  "blocks": [
    {
      "type": "list",
      "name": "List",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon" 
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "detail",
          "label": "Detail"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Giiker Product Icon"
    }
  ]
}
{% endschema %}