<div class="giiker-product-recommended-container" style="">
  <h2 class="giiker-product-recommended-title">{{ section.settings.title }}</h2>
  <div class="giiker-product-recommended-list">
    {{ product.metafields.custom.recommended_products }}
    {% for item in product.metafields.custom.recommended_products %}
      <div class="giiker-product-recommended-item" data-cc-animate="fade-in">
        <div class="giiker-product-recommended-item-content" >
          <div class="giiker-product-recommended-item-content-icon">
            {{
              item.featured_image
              | image_url: width: item.featured_image.width
              | image_tag: height: item.featured_image.height,
                fetchpriority: 'high', loading: 'lazy', class: 'image-tag', data-cc-animate: 'fade-in'
              }}
          </div>
          <h2 class="giiker-product-recommended-item-title">{{ item.title }}</h2>
          <div class="giiker-product-recommended-item-price">{{ item.price | money }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Giiker Recommended",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "You may also like"
    }
  ],
  "blocks": [
    {
      "type": "list",
      "name": "List", 
      "settings": [
        {
          "type": "image_picker",
          "id": "product_image", 
          "label": "Product Image" 
        }, 
        {
          "type": "richtext",
          "id": "product_title",
          "label": "Product Title"
        }
      ]
    }
  ], 
  "presets": [
    {
      "name": "Giiker Product Recommended"  
    }
  ]
}
{% endschema %}