<div id="shopify-section-home_slideshow" class="shopify-section mount-slideshow mount-images  "
 >
  <div id="section-home_slideshow" class="site-box-container container--fullscreen pc-image">
    <div class="site-box box--bigger box--center-align box--column-flow box--no-padding box__slideshow-split active back-to-normal "
      style="height: auto;">
      <div class="site-box-content responsive-flickity ">
        {% for block in section.blocks %}
          <div class="slideshow-item {% if block.settings.is_reversal %} reversal {% endif %}">
            <div class="site-box box--big box--center-align box--column-flow box__slideshow-item active"  style="background-color: {{ block.settings.background_color }};">
              <div class="site-box-content fix-me-with-margin">
                <h3 class="title custom-underline inline" style="color: {{ block.settings.title_color }}; --background-color: {{ block.settings.text_color }};">{{ block.settings.title }}</h3>
                <p class="caption" style="color: {{ block.settings.detail_color }}; --background-color: {{ block.settings.text_color }};">{{ block.settings.detail }}</p>
              </div>
              <div class="site-box-background-container">
                <div class="active" >
                  <span class="site-box-background with-image" aria-hidden="true">
                    <img src="{{ block.settings.image | img_url: 'master' }}"
                      srcset="{{ block.settings.image | img_url: 'master' }} 1x, {{ block.settings.image | img_url: 'master' | replace: '_1x.', '_2x.' }} 2x"
                     data-srcset="{{ block.settings.image | img_url: 'master' }} 1x, {{ block.settings.image | img_url: 'master' | replace: '_1x.', '_2x.' }} 2x"
                     data-sizes="auto" class="lazyautosizes lazyloaded" sizes="{{ block.settings.image.width }}px"
                      alt="{{ block.settings.title }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}">
                  </span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
  {% comment %} <div class="section-home_slideshow-swiper mb-image">
    <div class="swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="box">
              <h3 class="title custom-underline inline" >{{ block.settings.title }}</h3>
              <p class="caption" >{{ block.settings.detail }}</p>
            </div>
            <div class="image-tag">
              {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: height: block.settings.image.height, fetchpriority: 'high', loading: 'lazy', class: 'image-tag' }}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div> {% endcomment %}
  <div class="section-home_slideshow-swiper-mobile">
    {% for block in section.blocks %}
      <div class="section-home_slideshow-swiper-mobile-item" style="background-color: {{ block.settings.background_color }};">
        <div class="image-tag">
          {{ block.settings.mobile_image | image_url: width: block.settings.mobile_image.width | image_tag: height: block.settings.mobile_image.height, fetchpriority: 'high', loading: 'lazy', class: 'image-tag' }}
        </div>
        <div class="content">
          <div class="box-title" style="color: {{ block.settings.title_color }}; --background-color: {{ block.settings.text_color }};">{{ block.settings.title }}</div>
          <div class="box-detail" style="color: {{ block.settings.detail_color }}; --background-color: {{ block.settings.text_color }};">{{ block.settings.detail }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
  <style type="text/css">
    @media screen and (min-width: 768px),
    screen and (min-width: 1024px) and (orientation: landscape) {

      .shopify-section .site-box.box__slideshow-split .slideshow-item .site-box {
        background: #ece6de;
        color: #040a2b;
      }

      .shopify-section .site-box.box__slideshow-split .slideshow-item .site-box .button {
        background: #040a2b !important;
        color: #ece6de !important;
      }

      .shopify-section .site-box.box__slideshow-split .slideshow-item .site-box .button svg path {
        fill: #ece6de !important;
      }

      .shopify-section .site-box.box__slideshow-split .slider-meta {
        color: #040a2b;
      }

      .shopify-section .site-box.box__slideshow-split .slider-meta svg polygon {
        fill: #040a2b !important;
      }

    }
  </style>



</div>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="{{ 'js_plugins.min.js' | asset_url }}"></script>
<script src="{{ 'roller.js' | asset_url }}"></script>

{% schema %}
{
"name": "Giiker Product Roller",
"settings": [
],
"blocks": [
    {
      "type": "content",
      "name": "Content",
      "settings": [
        {
          "type": "checkbox",
          "id": "is_reversal",
          "label": "Is Reversal Content",
          "default": false
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color"
        },
        {
          "type": "text",
          "id": "detail",
          "label": "Detail"
        },
        {
          "type": "color",
          "id": "detail_color",
          "label": "Detail Color"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        }
      ]
    }
],
"presets": [
{
"name": "Giiker Product Roller"
}
]
}
{% endschema %}
