<section id="#{{ section.id }}">
  <div class="giiker-home-image-video">
    <div class="giiker-home-image">
      {% if section.settings.pc_image != blank %}
      <img src="{{ section.settings.pc_image | image_url: width: section.settings.pc_image.width }}" 
           alt=""
           class="image-tag"
           data-cc-animate="fade-in"
           loading="eager"
           width="{{ section.settings.pc_image.width }}"
           height="{{ section.settings.pc_image.height }}">
    {% endif %}
    {% if section.settings.video_picker != blank %}
      <video src="{{ section.settings.video_picker }}" 
             class="video-tag"
             playsinline
             autoplay
             muted
             loop
             data-cc-animate="fade-in"
             loading="eager">
      </video>
    {% endif %}

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Giiker Home Image Video",
  "settings": [
    {
      "type": "image_picker",
      "id": "pc_image",
      "label": "Image"
    },
    {
      "type": "video",
      "id": "video_picker",
      "label": "Video Picker"
    }
  ]
}
{% endschema %}