<section id="#{{ section.id }}">
  <div class="giiker-product-basice" data-cc-animate="fade-in">
    <div class="left-content">
        {{
          section.settings.background_left_image
          | image_url: width: section.settings.background_left_image.width
          | image_tag: height: section.settings.background_left_image.height,
           fetchpriority: 'high', loading: 'lazy', class: 'image-left-tag'
        }}
    </div>
    <div class="right-content">
      {{
        section.settings.background_right_image
        | image_url: width: section.settings.background_right_image.width
        | image_tag: height: section.settings.background_right_image.height,
         fetchpriority: 'high', loading: 'lazy', class: 'image-right-tag'
      }}
      <div class="right-content-title">{{ section.settings.title }}</div>
      <div class="right-content-detail">{{ section.settings.detail }}</div>
    </div>
  </div>
  <div class="mobile-video">
     
  </div>
</section>
<style>
  #shopify-section-{{ section.id }}  {
    background: rgba(249, 144, 50, 1);
  }
</style>
{% schema %}
{
  "name": "Giiker Product Basice",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_left_image",
      "label": "Background Left Image"
    },
    {
      "type": "image_picker",
      "id": "background_right_image",
      "label": "Background Right Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Learn the basics"
    },
    {
      "type": "text",
      "id": "detail",
      "label": "Detail",
      "default": "A step-by-step tutorial on how our smart product makes learning a breeze."
    },
    {
      "type": "video",
      "id": "mobile_video",
      "label": "Mobile Video"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "Mobile Background Image"
    }
  ],
  "presets": [
    {
      "name": "Giiker Product Basice"
    }
  ]
}
{% endschema %}