<div class="giiker-home-favourite">
  <div class="favourite-title">{{ section.settings.title }}</div>
  <div class="favourite-background" style="background-color: {{ section.settings.background_color }}">
    {{
      section.settings.background_image
      | image_url: width: section.settings.background_image.width
      | image_tag: fetchpriority: 'high', loading: 'lazy', class: 'image-tag', data-cc-animate: 'fade-in'
    }}
  </div>
  <div class="swiper favourite">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="favourite-item swiper-slide">
          <a href="{{ block.settings.product.url }}">
          {{
            block.settings.product.featured_image
            | image_url: width: block.settings.product.featured_image.width
            | image_tag: loading: 'eager', fetchpriority: 'high', decoding: 'async', class: '', data-cc-animate: 'fade-in'
        }}
        
        <div class="item-title">{{ block.settings.product.title }}</div>
        </a>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const swiperProductFeatures = new Swiper('#shopify-section-{{ section.id }} .swiper', {
      slidesPerView: 'auto',
      centeredSlides: true,
      paginationClickable: true,
      loop: true,
      spaceBetween: 30,
      navigation: {
        nextEl: '#shopify-section-{{ section.id }} .swiper-button-next',
        prevEl: '#shopify-section-{{ section.id }} .swiper-button-prev',
      },
    });
  });
</script>
{% schema %}
{
  "name": "Giiker Home Favourite",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "pc_image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Giiker Home Favourite"
    }
  ]
}
{% endschema %}