<div  class="horizontal">
  <div class="giiker-product-gsap">
    {% comment %} <div class="giiker-product-banner-image">
    {% if section.settings.video_picker != blank %}
      {{ section.settings.video_picker | video_tag: loading: 'eager', fetchpriority: 'high', decoding: 'async', class: 'video-tag', playsinline: true, autoplay: true, muted: true, loop: true, data-cc-animate: 'fade-in' }}
    {% endif %}
    </div>
    <div class="giiker-product-banner-background">
      {% if section.settings.background_top_image != blank %}
        {{
          section.settings.background_top_image
          | image_url: width: section.settings.background_top_image.width
          | image_tag: height: section.settings.background_top_image.height,
           fetchpriority: 'high', loading: 'lazy', class: 'image-top-tag', data-cc-animate: 'fade-in'
        }}
      {% endif %}
      {% if section.settings.background_bottom_image != blank %}
        {{
          section.settings.background_bottom_image
          | image_url: width: section.settings.background_bottom_image.width
          | image_tag: height: section.settings.background_bottom_image.height,
           fetchpriority: 'high', loading: 'lazy', class: 'image-bottom-tag', data-cc-animate: 'fade-in'
        }}
      {% endif %}
    </div> {% endcomment %}
    <div class="giiker-product-gsap-content to-right">
      {% for block in section.blocks %}
        {% if block.type == 'content_top' %}
          <div class="giiker-product-gsap-content-item" >
            <div class="right-content" style="background-color: {{ block.settings.background_color }}">
              <div class="giiker-product-gsap-content-item-title">
                {{ block.settings.title }}
              </div>
              <div class="giiker-product-gsap-content-item-detail">
                {{ block.settings.detail }}
              </div>
            </div>
            <div class="giiker-product-gsap-content-item-image">
                {{
                  block.settings.image
                  | image_url: width: block.settings.image.width
                  | image_tag: height: block.settings.image.height,
                  fetchpriority: 'high', loading: 'lazy', class: 'image-tag'
                }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div  class="horizontal">
  <div class="giiker-product-gsap">
    <div class="giiker-product-gsap-content bottom-content to-left">
      {% for block in section.blocks %}
        {% if block.type == 'content_bottom' %}
          <div class="giiker-product-gsap-content-item">
            <div class="giiker-product-gsap-content-item-image">
                {{
                  block.settings.image
                  | image_url: width: block.settings.image.width
                  | image_tag: height: block.settings.image.height,
                  fetchpriority: 'high', loading: 'lazy', class: 'image-tag'
                }}
            </div>
            <div class="right-content" style="background-color: {{ block.settings.background_color }}">
              <div class="giiker-product-gsap-content-item-title">
                {{ block.settings.title }}
              </div>
              <div class="giiker-product-gsap-content-item-detail">
                {{ block.settings.detail }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
<script>
  (function() {
    const horizontalSections = gsap.utils.toArray('div.horizontal')
    horizontalSections.forEach(function (sec, i) {	
      var thisPinWrap = sec.querySelector('.giiker-product-gsap');
      var thisAnimWrap = thisPinWrap.querySelector('.giiker-product-gsap-content');
      
      var getToValue = () => -(thisAnimWrap.scrollWidth - window.innerWidth); 

      gsap.fromTo(thisAnimWrap, { 
        x: () => thisAnimWrap.classList.contains('to-right') ? 0 : getToValue() 
      }, { 
        x: () => thisAnimWrap.classList.contains('to-right') ? getToValue() : 0, 
        ease: "none",
        scrollTrigger: {
          trigger: sec,		
          start: "top top",
          end: () => "+=" + (thisAnimWrap.scrollWidth - window.innerWidth),
          pin: thisPinWrap,
          invalidateOnRefresh: true,
          //anticipatePin: 1,
          scrub: true,
          //markers: true,
        }
      });

    });	
  })();
</script>
{% schema %}
{
  "name": "Giiker Product Gsap",
  "settings": [
  ],
  "blocks": [
    {
      "type": "content_top",
      "name": "Content Top",
      "settings": [
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "detail",
          "label": "Detail"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "content_bottom",
      "name": "Content Bottom",
      "settings": [
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "detail",
          "label": "Detail"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Giiker Product Gsap"
    }
  ]
}
{% endschema %}